.app {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
  height: 100dvh;
  width: 100vw;
  background-color: rgba(238, 238, 238, 0.6);
}

.appName {
  color: #222;
  font-size: 1.8rem;
  font-weight: normal;
  padding: 1rem;
}

.light {
  background-color: rgba(238, 238, 238, 0.6);
  color: black;
}

.dark {
  background-color: #131417;
  color: white;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px;
}

.appName {
  margin: 0 auto;
  flex-grow: 1;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.toggleButton {
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.toggleButton svg {
  width: 24px;
  height: 24px;
}

.dark .toggleButton {
  color: white; /* Ensure button icon is visible in dark mode */
}

.dark .appName {
  color: white; /* Ensure app name is visible in dark mode */
}

/* Add styles for other elements in dark mode */
.dark button {
  background-color: #24292d;
  color: white;
}

.dark button:hover {
  background-color: #555;
}
